<!--The content below is only a placeholder and can be replaced.-->
<div id="app" class="container" style="margin-top: 10px;">
  <div class="row" style="background-color: #aa66cc;">
    <div class="col">
      <h1 style="text-align: center;color:cyan;font-size: 50px;
    font-weight: bold;
    font-family: cursive;">Todo's</h1>
    </div>
  </div>
  <div class="row" style="margin-top: 70px;">
    <div class="col">
      <!-- Material input -->
      <app-additem [todoList]="filteredTodos" (result)="update($event)" ></app-additem>
      <button (click)="clear()" class="btn btn-secondary">CLEAR</button>

    </div>
    <div class="col">
      Search : <input type="text" [(ngModel)]="listFilter">
        <br>
      <app-tododisplay [todoList]="filteredTodos" (result)="updateList($event)"></app-tododisplay>
    </div>

  </div>

</div>

